<div class="flex">
  <div class="mx-auto">
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <tr>
          <th colspan="9" class="py-4 px-6 bg-slate-100 font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= @team.name + ' - ' + @team.owner_name %></th>
        </tr>
        <tr>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Player
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Current Cap Cost
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Years Remaining
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Roster Status
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            2021 Salary
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            2022 Salary
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            2023 Salary
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            2024 Salary
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            2025 Salary
          </th>
        </tr>
        <% @roster.each do |position, players| %>
        <tr>
          <td>
            <%= position %>
          </td>
        </tr>
        <% players.each do |player| %>
        <tr>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player[:name] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency player[:cap_cost] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player[:contract_years] || 1 %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player[:status] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency player[:salaries][0] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency player[:salaries][1] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency player[:salaries][2] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency player[:salaries][3] %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency player[:salaries][4] %>
          </td>
        </tr>
        <% end %>
        <% end %>
        <tr>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Totals
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            <%= number_to_currency @roster.map{|k, v| v.map {|player| player[:cap_cost]}}.flatten.compact.sum %>
          </th>
          <th scope="col" colspan="2" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            <%= number_to_currency @roster.map{|k, v| v.map {|player| player[:salaries][0]}}.flatten.compact.sum %>
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            <%= number_to_currency @roster.map{|k, v| v.map {|player| player[:salaries][1]}}.flatten.compact.sum %>
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            <%= number_to_currency @roster.map{|k, v| v.map {|player| player[:salaries][2]}}.flatten.compact.sum %>
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            <%= number_to_currency @roster.map{|k, v| v.map {|player| player[:salaries][3]}}.flatten.compact.sum %>
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            <%= number_to_currency @roster.map{|k, v| v.map {|player| player[:salaries][4]}}.flatten.compact.sum %>
          </th>
        </tr>
      </table>
      <hr />
      <table>
        <tr>
          <th scope="col" colspan="4" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Draft Picks
          </th>
        <tr>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Year
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Round
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Description
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Est. Salary
          </th>
        </tr>
        <% @draft_picks.each do |pick| %>
        <tr>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= pick.year %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= pick.round %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= pick.description %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency pick.average_salary %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
