<div class="flex">
  <div class="mx-auto">
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <tr>
          <th colspan="5" class="py-4 px-6 bg-slate-100 font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= @team.name + ' - ' + @team.owner_name %></th>
        </tr>
        <tr>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Player
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Position
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Salary
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Years Remaining
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Roster Status
          </th>
        </tr>
        <%
          @team
            .players
            .where(position: "QB", status: "ROSTER")
            .order('status DESC', 'position', 'salary DESC')
            .each do |player|
        %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= player.name %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.position %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency(player.salary) %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.years_remaining %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.status %>
          </td>
        </tr>
        <% end %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td></td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            QBs
          </td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= number_to_currency @team.players.roster.where(position: "QB").sum(:salary) %>
          </td>
        </tr>
        <%
          @team
            .players
            .where(position: "RB", status: "ROSTER")
            .order('status DESC', 'position', 'salary DESC')
            .each do |player|
        %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= player.name %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.position %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency(player.salary) %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.years_remaining %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.status %>
          </td>
        </tr>
        <% end %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td></td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            RBs
          </td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= number_to_currency @team.players.roster.where(position: "RB").sum(:salary) %>
          </td>
        </tr>
        <%
          @team
            .players
            .where(position: "WR", status: "ROSTER")
            .order('status DESC', 'position', 'salary DESC')
            .each do |player|
        %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= player.name %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.position %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency(player.salary) %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.years_remaining %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.status %>
          </td>
        </tr>
        <% end %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td></td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            WRs
          </td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= number_to_currency @team.players.roster.where(position: "WR").sum(:salary) %>
          </td>
        </tr>
        <%
          @team
            .players
            .where(position: "TE", status: "ROSTER")
            .order('status DESC', 'position', 'salary DESC')
            .each do |player|
        %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= player.name %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.position %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency(player.salary) %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.years_remaining %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= player.status %>
          </td>
        </tr>
        <% end %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td></td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            TEs
          </td>
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= number_to_currency @team.players.roster.where(position: "TE").sum(:salary) %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th scope="col" colspan="4" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Draft Picks
          </th>
        <tr>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Year
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Round
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Description
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Est. Salary
          </th>
        </tr>
        <% @draft_picks.each do |pick| %>
        <tr>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= pick.year %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= pick.round %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= pick.description %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
