<div class="flex">
  <div class="mx-auto">
    <div class="bg-white shadow-md rounded my-6">
      <table class="text-left w-full border-collapse">
        <tr>
          <th colspan="5" class="py-4 px-6 bg-slate-100 font-bold uppercase text-sm text-grey-dark border-b border-grey-light"><%= @team.name + ' - ' + @team.owner_name %></th>
        </tr>
        <tr>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Player
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Position
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Salary
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Years Remaining
          </th>
          <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
            Roster Status
          </th>
        </tr>
        <%
          @team.contracts.includes(:player)
            .order('status DESC', 'players.position', 'salary DESC')
            .each do |contract|
        %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-2 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= contract.player.name %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= contract.player.position %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= number_to_currency(contract.salary) %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= contract.years_remaining %>
          </td>
          <td class="py-2 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
            <%= contract.status %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
