<h1>Salaries</h1>

<h2>Top QB Salaries</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Salary</th>
	</tr>
	<% @top_salaries["QB"].each do |player, salary| %>
	<tr>
		<td><%= player %></td>
		<td><%= number_to_currency(salary) %></td>
	</tr>
	<% end %>
	<tr>
		<td>Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["QB"].sum { |player, salary| salary } /
			@top_salaries["QB"].size) %></td>
	</tr>
	<tr>
		<td>50% of Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["QB"].sum { |player, salary| salary } /
			@top_salaries["QB"].size * 0.50) %></td>
	</tr>
</table>

<h2>Top RB Salaries</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Salary</th>
	</tr>
	<% @top_salaries["RB"].each do |player, salary| %>
	<tr>
		<td><%= player %></td>
		<td><%= number_to_currency(salary) %></td>
	</tr>
	<% end %>
	<tr>
		<td>Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["RB"].sum { |player, salary| salary } /
			@top_salaries["RB"].size) %></td>
	</tr>
	<tr>
		<td>50% of Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["RB"].sum { |player, salary| salary } /
			@top_salaries["RB"].size * 0.50) %></td>
	</tr>
</table>

<h2>Top WR Salaries</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Salary</th>
	</tr>
	<% @top_salaries["WR"].each do |player, salary| %>
	<tr>
		<td><%= player %></td>
		<td><%= number_to_currency(salary) %></td>
	</tr>
	<% end %>
	<tr>
		<td>Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["WR"].sum { |player, salary| salary } /
			@top_salaries["WR"].size) %></td>
	</tr>
	<tr>
		<td>50% of Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["RB"].sum { |player, salary| salary } /
			@top_salaries["WR"].size * 0.50) %></td>
	</tr>
</table>

<h2>Top TE Salaries</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Salary</th>
	</tr>
	<% @top_salaries["TE"].each do |player, salary| %>
	<tr>
		<td><%= player %></td>
		<td><%= number_to_currency(salary) %></td>
	</tr>
	<% end %>
	<tr>
		<td>Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["TE"].sum { |player, salary| salary } /
			@top_salaries["TE"].size) %></td>
	</tr>
	<tr>
		<td>50% of Avg Salary</td>
		<td><%= number_to_currency(@top_salaries["TE"].sum { |player, salary| salary } /
			@top_salaries["TE"].size * 0.50) %></td>
	</tr>
</table>

<h2>Top QB Scores</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Years</th>
		<th>Salary</th>
		<th>Points</th>
		<th>Holdout?</th>
	</tr>
	<% @top_scores["QB"].each do |name, salary, points, yrs| %>
	<tr>
		<td><%= name %></td>
		<td><%= yrs %></td>
		<td><%= number_to_currency(salary) %></td>
		<td><%= points %></td>
		<td><%= holdout?(yrs, points, @holdout_points["QB"], salary, @holdout_salaries["QB"]) %></td>
	</tr>
	<% end %>
</table>

<h2>Top RB Scores</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Years</th>
		<th>Salary</th>
		<th>Points</th>
		<th>Holdout?</th>
	</tr>
	<% @top_scores["RB"].each do |name, salary, points, yrs| %>
	<tr>
		<td><%= name %></td>
		<td><%= yrs %></td>
		<td><%= number_to_currency(salary) %></td>
		<td><%= points %></td>
		<td><%= holdout?(yrs, points, @holdout_points["RB"], salary, @holdout_salaries["RB"]) %></td>
	</tr>
	<% end %>
</table>

<h2>Top WR Scores</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Years</th>
		<th>Salary</th>
		<th>Points</th>
		<th>Holdout?</th>
	</tr>
	<% @top_scores["WR"].each do |name, salary, points, yrs| %>
	<tr>
		<td><%= name %></td>
		<td><%= yrs %></td>
		<td><%= number_to_currency(salary) %></td>
		<td><%= points %></td>
		<td><%= holdout?(yrs, points, @holdout_points["WR"], salary, @holdout_salaries["WR"]) %></td>
	</tr>
	<% end %>
</table>

<h2>Top TE Scores</h2>

<table>
	<tr>
		<th>Player Name</th>
		<th>Years</th>
		<th>Salary</th>
		<th>Points</th>
		<th>Holdout?</th>
	</tr>
	<% @top_scores["TE"].each do |name, salary, points, yrs| %>
	<tr>
		<td><%= name %></td>
		<td><%= yrs %></td>
		<td><%= number_to_currency(salary) %></td>
		<td><%= points %></td>
		<td><%= holdout?(yrs, points, @holdout_points["TE"], salary, @holdout_salaries["TE"]) %></td>
	</tr>
	<% end %>
</table>