<container class="flex justify-center">
	<div class="text-base max-w-prose">
		<p>Full holdouts rule text is at the bottom of the page. This page has two tables for each position group. The first shows the top salaries at the position and can be used to calculate the holdout salary cut off. The second shows the top scorers at the position and whether they will holdout next year.</p>
	</div>
</container>

<div class="flex">
	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="2" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top QB Salaries</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
				</tr>
				<% @top_salaries["QB"].each do |player, salary| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= player %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
				</tr>
				<% end %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["QB"].sum { |player, salary| salary } /
						@top_salaries["QB"].size) %></td>
				</tr>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">50% of Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["QB"].sum { |player, salary| salary } /
						@top_salaries["QB"].size * 0.50) %></td>
				</tr>
			</table>
  	</div>
	</div>

	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="5" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top QB Scores</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Years</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Points</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Holdout?</th>
				</tr>
				<% @top_scores["QB"].each do |name, salary, points, yrs| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= name %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= yrs %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= points %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= holdout?(yrs, points, @holdout_points["QB"], salary, @holdout_salaries["QB"]) %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="flex">
	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="2" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top RB Salaries</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
				</tr>
				<% @top_salaries["RB"].each do |player, salary| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= player %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
				</tr>
				<% end %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["RB"].sum { |player, salary| salary } /
						@top_salaries["RB"].size) %></td>
				</tr>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">50% of Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["RB"].sum { |player, salary| salary } /
						@top_salaries["RB"].size * 0.50) %></td>
				</tr>
			</table>
  	</div>
	</div>

	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="5" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top RB Scores</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Years</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Points</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Holdout?</th>
				</tr>
				<% @top_scores["RB"].each do |name, salary, points, yrs| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= name %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= yrs %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= points %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= holdout?(yrs, points, @holdout_points["RB"], salary, @holdout_salaries["RB"]) %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="flex">
	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="2" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top WR Salaries</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
				</tr>
				<% @top_salaries["WR"].each do |player, salary| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= player %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
				</tr>
				<% end %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["WR"].sum { |player, salary| salary } /
						@top_salaries["WR"].size) %></td>
				</tr>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">50% of Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["WR"].sum { |player, salary| salary } /
						@top_salaries["WR"].size * 0.50) %></td>
				</tr>
			</table>
  	</div>
	</div>

	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="5" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top WR Scores</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Years</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Points</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Holdout?</th>
				</tr>
				<% @top_scores["WR"].each do |name, salary, points, yrs| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= name %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= yrs %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= points %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= holdout?(yrs, points, @holdout_points["WR"], salary, @holdout_salaries["WR"]) %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<div class="flex">
	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="2" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top TE Salaries</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
				</tr>
				<% @top_salaries["TE"].each do |player, salary| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= player %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
				</tr>
				<% end %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["TE"].sum { |player, salary| salary } /
						@top_salaries["TE"].size) %></td>
				</tr>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light font-bold">50% of Avg Salary</td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(@top_salaries["TE"].sum { |player, salary| salary } /
						@top_salaries["TE"].size * 0.50) %></td>
				</tr>
			</table>
  	</div>
	</div>

	<div class="mx-auto">
 		<div class="bg-white shadow-md rounded my-6">
			<table class="text-left w-full border-collapse">
				<tr>
					<th colspan="5" class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark text-center border-b border-grey-light">Top TE Scores</th>
				</tr>
				<tr>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Player Name</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Years</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Salary</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Points</th>
					<th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Holdout?</th>
				</tr>
				<% @top_scores["TE"].each do |name, salary, points, yrs| %>
				<tr class="hover:bg-grey-lighter">
					<td class="py-4 px-6 border-b border-grey-light"><%= name %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= yrs %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= number_to_currency(salary) %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= points %></td>
					<td class="py-4 px-6 border-b border-grey-light"><%= holdout?(yrs, points, @holdout_points["TE"], salary, @holdout_salaries["TE"]) %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

<container class="flex justify-center">
	<div class="text-base max-w-prose">
		<h2 class="font-xl font-bold">E. Player Holdouts</h2>
		<br />
		<ul class="list-disc">
			<li>At the end of the Week 17, any player whose end-of-year stats as per the league web site place the player in the Top 5 fantasy QBs and TEs, Top 10 fantasy RBs, and Top 15 WRs is subject to examination as a possible holdout candidate. (I'll let all teams know after Week 16 who their holdouts are.)</li><br />
			<li>If a Top 5 fantasy QB or TE, Top 10 fantasy RB or Top 15 WR is making less than one-half of the average salary of the relevant group in question (i.e., of the top 5 QBs or TEs, the top 10 RBs or the top 15 WRs), the player is considered a holdout. At this point, the owner has three options:</li><br />
			<ol class="list-decimal">
				<li>Accept new contract demands. This increases the player's salary to 75% of the average salary of the relevant group in question at his position. Contract years don't change...the player simply gets bumped to the higher level on March 1, in lieu of the standard 20% contract raise that all players get on March 1. (A team could conceivably sign the player to an extension at the same time provided the player is eligible, i.e., he hasn't already previous been signed to an extension.)</li><br />
				<li>Release the player. Any salary cap hit that results from such a release takes place based on the <span class="font-bold">old</span> salary (i.e., not the new contract demands).</li><br />
				<li>Reject new contract demands. If a team rejects the demands, it puts the player on the Practice Squad by March 1st (the only time an active player can be placed on the Practice Squad which, as you'll recall, is meant for rookies). The player's <span class="font-bold">old</span> salary accordingly counts 25% against the cap, but of course, the player cannot be in the team's starting lineup. Like all other members of the Practice Squad, this holdout player <span class="font-bold">can</span> be activated during the season, but in this case only if the team caves into the contract demands, and bumps up the salary. If the holdout player is traded, the acquiring team gets the same contract demands to deal with. If the holdout player stays on the Practice Squad for an entire season, one of two things happens:</li>
				<ul class="list-none">
					<li>If the player finishes inside the relevant group at his position for a second straight year (i.e., top 5 QBs or TEs, top 10 RBs or top 15 WRs), he automatically must have his contract raised to 100% of the average salary of the relevant group at his position, or be released.</li>
					<li>If the player <span class="font-bold">doesn't</span> finish inside the relevant group at his position for a second straight year, he gives up his contract demands, and goes back to his old salary (and thus comes off the Practice Squad), though obviously, the team has missed a year of his service for fantasy usefulness (but the player does <span class="font-bold">not</span> lose a contract year for a season in which he holds out for the entire season).</li>
				</ul>
			</ol>
		</ul>
	</div>
</container>
